<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abing.letak">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LETAK"
        tools:targetApi="31">
        <activity
            android:name=".registervehicle.RegisterVehicleActivity"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/Theme.LETAK.RegisterVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".ordernowactivity.OrderNowActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/Theme.LETAK.OrderNowActivity" />
        <activity
            android:name=".test.NavigationComponent"
            android:exported="false" />
        <activity
            android:name=".extendparking.ExtendParkingActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.ExtendParkingActivity" />
        <activity
            android:name=".needassistance.NeedAssistanceActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.NeedAssistanceActivity" />
        <activity
            android:name=".monthlypassactivity.MonthlyPassActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.MonthlyPassActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.MainMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.SignUpActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LETAK.WelcomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>